.skGirl {
  height: 100px;
}
.goldTomCSContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 30px 50px 30px;
  border: 5px solid #231e52;
  border-radius: 10px;
}
.leftGifCon {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.ballotBox {
  padding-top: 70px;
  
}
.textSecGTCS {
  padding: 10% 0 0;
  text-align: center;
}
.gtcsHeader {
  font-family: "Lian";
  font-size: 4em;
  text-align: center;
  color: #d8282f;
  font-weight: 400;
  line-height: 1;
}
.secLineGTCS {
  font-size: 2em;
  text-align: center;
  font-family: "DukesTS";
  line-height: 0;
}

.twoGifs {
  display: block;
  margin: 0 auto 0;
}
@media only screen and (max-width: 900px) {
  .goldTomCSContainer {
    display: block;
  }
  .goldTomCSHP {
    display: block;
    margin: 0 auto 0;
    width: 75%;
  }
  .gtcsHeader {
    font-size: 4em;
  }
}
