.rankingDivContainer {
  position: relative;
  padding-top: 200px;
}
.goldTom {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 35%;
  width: 30%;
}
.rankingContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 0px;
  border: 4px solid #231e52;
  border-radius: 10px;
  padding: 20px 30px 20px;
  margin: 20px 30px 20px;
  background-color: white;
}
.cityContainerNL {
  border-right: #231e52 solid 3px;
}
.cityContainer h1 {
  text-align: center;
  color: #ed3526;
}
@media only screen and (max-width: 900px) {
  .rankingContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    border: 4px solid #231e52;
    border-radius: 10px;
    padding: 20px 10px 20px;
    margin: 20px 0px 20px;
  }
  .cityContainerNL {
    border-bottom: #231e52 solid 3px;
    border-right: none;
  }
  .goldTom {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 20%;
    width: 60%;
  }
}
.rankingRestCon {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-right: 10px;
}
.rankingRestCon p {
  font-size: 1.5em;
}
.rankVotes {
  text-align: end;
}
.rankingHeader {
  text-align: center;
}
