.gtContainer {
  padding: 30px;
}
.gtHeader {
  text-align: center;
}
.signOutContainer {
  text-align: end;
}
.signOutBtn {
  border: none;
  background-color: transparent;
  font-family: "ArcherPro";
  border: 1px #d8282f solid;
  cursor: pointer;
  padding: 10px 30px 10px;
  background-color: #d8282f;
  color: white;
  margin-top: 10px;
}
.signOutBtn:hover {
  background-color: white;
  color: #d8282f;
}
.votingComingSoonHeader {
  font-family: "Lian";
  font-size: 5em;
  text-align: center;
  color: #d8282f;
  font-weight: 400;
  line-height: 1;
}

.VCSsecLine {
  font-size: 2em;
  text-align: center;
  font-family: "DukesTS";
}
.gifContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 0 20px 0;
}
.gifItem {
  display: block;
  margin: 0 auto 0;
}
.goldTomGrid {
  width: 40%;
  display: block;
  margin: 0 auto 0;
}
.ladyMobile {
  display: none;
}
.topGridGTCS {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 40px 20px;
  border: 2px #231e52 solid;
  border-radius: 10px;
  margin: 20px 20px 20px;
}
.goldTomCS {
  width: 60%;
  display: block;
  margin: 0 auto 0;
}
.textItemTG {
  padding: 30px 0 0;
}
@media only screen and (max-width: 900px) {
  .gtContainer {
    padding: 10px;
  }
  .gifContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 20px 0;
  }
  .goldTomGrid {
    display: none;
  }
  .goldTomCS {
    display: block;
    margin: 0 auto 0;
    width: 60%;
  }
  .ladyMobile {
    display: block;
    width: 75%;
    margin: 0 auto 0;
  }
  .topGridGTCS {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 5px 20px;
    border: 3px #231e52 solid;
    border-radius: 10px;
    margin: 20px 5px 20px;
  }
}
