.comingSoonPage {
}
.homeLogo {
  display: block;
  width: 80%;
  margin: 0 auto 0;
}
.comingSoon {
  font-size: 3em;
  text-align: center;
}
.htsLink {
  display: block;
  margin: 0 auto 0;
  text-align: center;
  color: black;
}
