.goldTomInput {
  border: black solid 2px;
  margin: 0 auto 0;
  display: block;
  font-size: 1.3em;
  width: 60%;
  padding: 10px 20px 10px;
  border-radius: 10px;
}
.restGTContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  border: solid black 3px;
  border-radius: 10px;
  margin: 10px 30px 10px;
  padding: 0px 0px 0px 20px;
}
.restGTName {
  font-size: 2em;
  font-family: "DukesTS";
}
.restGTBtn {
  font-family: "DukesTS";
  border: solid 2px #ed3526;
  padding: 10px 0 10px;
  background-color: #ed3526;
  color: white;
  font-size: 2em;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}
.restGTBtn:hover {
  background-color: white;
  color: #ed3526;
}
