@font-face {
  font-family: "DukesTS";
  src: local("DukesTS"),
    url(./assets/fonts/Tungsten-Semibold.otf) format("opentype");
}

@font-face {
  font-family: "Lian";
  src: local("Lian"), url(./assets/fonts/Lian.otf) format("opentype");
}

@font-face {
  font-family: "ArcherPro";
  src: local("ArcherPro"),
    url(./assets/fonts/ArcherPro-Semibold.otf) format("opentype");
}
@font-face {
  font-family: "ArcherProIta";
  src: local("ArcherProIta"),
    url(./assets/fonts/ArcherPro-SemiboldIta.otf) format("opentype");
}
img {
  max-width: 100%;
}
a {
  font-family: "ArcherProIta";
  text-decoration: none;
  color: black;
}
a:hover {
  color: #5044bd;
}
ul {
  list-style-type: none;
}
h1 {
  font-family: "DukesTS";
  font-size: 3em;
}
h2 {
  font-family: "DukesTS";
  font-size: 2em;
}
h3 {
  font-family: "DukesTS";
  font-size: 1.3em;
}
body {
  margin: 0;
  padding: 0;
  font-family: "ArcherPro";
}
.btnHTS {
  background-color: #ed3526;
  padding: 10px 20px 10px;
  color: white;
  font-family: "ArcherPro";
  border: 1px #ed3526 solid;
}
.btnHTS:hover {
  color: #ed3526;
  background-color: white;
}
