.accordion-item {
  cursor: pointer;
  border: 3px #231e52 solid;
  margin: 10px 20px 10px;
  border-radius: 10px;
  position: relative;
  width: 100%;
  text-align: start     ;
}
.headerContainer {
  width: 75%;
}
.headerAccordion {
  padding-left: 20px;
}
.specContainer {
  border-right: solid;
}
.rightDiv {
  border-left: 3px #231e52 solid;
}
.specHeader {
  display: inline-block;
  padding-left: 20px;
}
.arrowIcon {
  width: 20%;
  height: 100%;
  background-color: #d8282f;
  border-radius: 0px 5px 5px 0px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.infoAccordion {
  padding-left: 20px;
  padding-bottom: 20px;
}
.accordionDivide {
  border-top: solid #231e52 3px;
  margin: 0px 40px 0px;
}
.accordionBtnContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
  text-align: center;
}
.containerInfoSection {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 10px 0 10px;
}
.goldenTomAccordion {
  text-align: center;
}
.goldenTomAccordion p {
  font-size: 3em;
}
